name: Publish Docker image
on:
  workflow_dispatch:
  repository_dispatch:
    types: [buildAndPush]
jobs:
  build-docker:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Check out the Terraformer repo
        uses: actions/checkout@v2
        with:
          path: terraformer-repo
          repository: GoogleCloudPlatform/terraformer
          fetch-depth: 2
      - name: Prepare variables
        id: prepare
        run: |
          TERRAFORMER_SHA=$(git -C terraformer-repo rev-parse HEAD)
          echo ::set-output name=IMAGE_TAG::${TERRAFORMER_SHA::7}
          git -C terraformer-repo fetch --prune --unshallow
          echo ::set-output name=TERRAFORMER_TAG::$(git -C terraformer-repo describe --tags HEAD)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        id: builder
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push docker image
        uses: docker/build-push-action@v2
        id: docker_build
        with:
          context: .
          platforms: linux/amd64
          builder: ${{ steps.builder.outputs.name }}
          file: ./Dockerfile
          push: true
          tags: |
            troissixzero/terraformer:latest
            troissixzero/terraformer:${{ steps.prepare.outputs.IMAGE_TAG }}
            troissixzero/terraformer:${{ steps.prepare.outputs.TERRAFORMER_TAG }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      # This ugly bit is necessary if you don't want your cache to grow forever
      # till it hits GitHub's limit of 5GB.
      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
